@model AllEmailsViewModel
@{
    ViewData["Title"] = "Index";
}

<ul class="nav nav-tabs">
    @if (Model.ActiveTab == "all")
    {
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Email" asp-action="Index">All Emails</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Email" asp-action="Index">All Emails</a>
        </li>
    }

    @if (Model.ActiveTab == "new")
    {
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Email" asp-action="GetNewEmails">New Emails</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Email" asp-action="GetNewEmails">New Emails</a>
        </li>
    }

    @if (Model.ActiveTab == "open")
    {
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Email" asp-action="GetOpenEmails">Open Emails</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Email" asp-action="GetOpenEmails">Open Emails</a>
        </li>
    }

    @if (Model.ActiveTab == "closed")
    {
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Email" asp-action="GetClosedEmails">Closed Emails</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Email" asp-action="GetClosedEmails">Closed Emails</a>
        </li>
    }
</ul>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Received</th>
            <th scope="col">Sender Email</th>
            <th scope="col">Sender Name</th>
            <th scope="col">Subject</th>

            @if (Model.ActiveTab == "all")
            {
                <th scope="col">Status</th>
                <th scope="col">Attachments</th>
                <th scope="col">Preview</th>
                <th scope="col">Change Status</th>

            }

            @if (Model.ActiveTab == "new")
            {
                <th scope="col">Time Since Status Change</th>
                <th scope="col">Preview</th>
                <th scope="col">Mark Open</th>

            }

            @if (Model.ActiveTab == "open")
            {
                <th scope="col">Time Since Status Change</th>
                <th scope="col">Preview</th>
                <th scope="col">Mark Closed</th>

            }

            @if (Model.ActiveTab == "closed")
            {
                <th scope="col">Status</th>
                <th scope="col">Preview</th>

                @if (User.IsInRole("manager"))
                {
                    <th scope="col">Closed By:</th>
                    <th scope="col">Mark "New"</th>
                }

            }
        </tr>
    </thead>
    <tbody>
        @foreach (var email in Model.AllEmails)
        {
            if (Model.ActiveTab == "all")
            {
                <partial name="_AllEmailPartial" model="email" />
            }
            else if (Model.ActiveTab == "new")
            {
                <partial name="_NewEmailPartial" model="email" />
            }
            else if (Model.ActiveTab == "open")
            {
                <partial name="_OpenEmailPartial" model="email" />
            }
            @*else if (Model.ActiveTab == "closed")
                {
                    <partial name="_ClosedEmailPartial" model="email" />
                }*@
        }

        @if (Model.ActiveTab == "closed")
        {
            @foreach (var app in Model.AllApps)
            {
                <partial name="_ClosedEmailPartial" model="app" />
            }
        }
    </tbody>
</table>

