@model GenericEmailViewModel

<partial name="_EmailDataPartial" />

@if (User.IsInRole("manager"))
{
    if (Model.Status == EmailStatus.NotReviewed.ToString())
    {
        <a class="btn btn-info" asp-controller="Email" asp-action="MarkInvalid" asp-route-id="@Model.Id">Mark Invalid</a>
        <a class="btn btn-info" asp-controller="Email" asp-action="Index">Back</a>
    }
    else if (Model.Status == EmailStatus.Invalid.ToString())
    {
        <a class="btn btn-info" asp-controller="Email" asp-action="MarkNotReviewed" asp-route-id="@Model.Id">Mark Not Reviewed</a>
        <a class="btn btn-info" asp-controller="Email" asp-action="Index">Back</a>
    }
}
else if (User.IsInRole("operator"))
{
    if (Model.Status == EmailStatus.NotReviewed.ToString())
    {
        <a class="btn btn-info" asp-controller="Email" asp-action="MarkNew" asp-route-id="@Model.Id">Mark New</a>
        <a class="btn btn-info" asp-controller="Email" asp-action="MarkInvalid" asp-route-id="@Model.Id">Mark Invalid</a>
        <a class="btn btn-info" asp-controller="Email" asp-action="Index">Back</a>
    }
    else if (Model.Status == EmailStatus.Invalid.ToString())
    {
        <a class="btn btn-info" asp-controller="Email" asp-action="Index">Back</a>
    }
}



