@model PreviewViewModel
<form> 
    <div class="form-group">
        <label for="exampleFormControlInput1"><b>Name:</b></label>
        <input class="form-control" id="senderName" >
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1"><b>EGN:</b></label>
        <input class="form-control" id="senderEGN">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1"><b>Phone Number:</b></label>
        <input class="form-control" id="senderPhone">
    </div>
</form>

