@using Microsoft.AspNetCore.Identity
@using EMS.Data.dbo_Models
@inject SignInManager<UserDomain> SignInManager
@inject UserManager<UserDomain> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link pb-0 font-weight-bold" style="color: #48525D;" title="Manage">@User.Identity.Name</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link pb-0 font-weight-bold" style="color: #9aa5b1;">LOGOUT</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>